@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  gap: 10px;
}

a {
  text-decoration: none;
  color: #494949;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.content button {
  padding: 7px;
}

.footer {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
}
