/* Add CSS Styling */
.odd {
    background-color: lightcoral;
    font-family: Verdana, 'DejaVu', sans-serif;
}

#two {
    color: blue;
    font-size: 36px;
}

.diffrentFont {
    font-size: 24px;
}

#four {
    background-color: lightgreen;
    font-weight: bold;
}